# .NET / Visual Studio
[Bb]in/
[Oo]bj/
.vs/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs
*.rsuser
*.code-workspace
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]serSettings/
Assets/AssetStoreTools*
_assets/UnityProject/Library/
_assets/UnityProject/Temp/
_assets/UnityProject/Obj/
_assets/UnityProject/Build/
_assets/UnityProject/Builds/
_assets/UnityProject/Logs/
_assets/UnityProject/UserSettings/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Project Specific
gameDefinitions
final/
temp_stage/
*.zip
*.rar
*.7z
*gemini*

# NuGet
*.nuget.props
*.nuget.targets
packages/

# OS Specific
.DS_Store
Thumbs.db